/* New approach to Andrew's Burgers website. Minimal styling with CSS,
relies heavily on Reactstrap/Bootstrap. Theme is tries to capture original website,
but modernized. Colors will be mostly white/black with pops of color from images. */

/* Background img*/
body{
    position: relative;
    min-height: 100vh;
}
body::before{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/images/dark-retro-diner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 80%;
}