spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/capstone_db
    driver-class-name: org.postgresql.Driver
    username: capstone
    password: capstone
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080